apiVersion: v1
kind: Deployment
metadata: 
  name: helloworld-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: helloworld
  template:
    metadata:
      labels:
        app: helloworld
spec:
  containers:
  - name: helloworld
    image: muddanadevops/helloworld:latest
    ports:
    - containerPort: 8080
